<article class="article card p-6 rounded-card shadow-card">
  {{ Model.Content.TitlePart | shape_render }}
  <div class="mt-4">
    {{ Model.Content.HtmlBodyPart | shape_render }}
  </div>
</article>
